.m-row {
    display: flex;

    .m-col-12,
    .m-col-111,
    .m-col-10,
    .m-col-9,
    .m-col-8,
    .m-col-7,
    .m-col-6,
    .m-col-5,
    .m-col-4,
    .m-col-3,
    .m-col-2,
    .m-col-1 {
        padding: 5px;
    }


    .m-col-1 {
        width: 8.33333333%;
    }
    .m-col-2 {
        width: 16.66666666%;
    }
    .m-col-3 {
        width: 25%;
    }
    .m-col-4 {
        width: 33.33333333%;
    }
    .m-col-5 {
        width: 41.66666666%;
    }
    .m-col-6 {
        width: 50%;
    }
    .m-col-7 {
        width: 58.33333333%;
    }
    .m-col-8 {
        width: 66.66666666%;
    }
    .m-col-9 {
        width: 75%;
    }
    .m-col-10 {
        width: 83.33333333%;
    }
    .m-col-11 {
        width: 91.66666666%;
    }
    .m-col-12 {
        width: 100%;
    }
}