.mat-form-field.filter .mat-form-field-wrapper .mat-form-field-outline.ng-tns-c136-1.ng-star-inserted {
    background-color: #ffffff;
}

.mat-form-field-wrapper {
    padding-bottom: 3px;
}

form {
    .mat-form-field:not(.filter) {
        min-width: 100%;
    }
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
    color: #1976d2;
}